* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #f0cff8;
}
h1{
    color: #5e0a93;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Fieldset dan legend */
fieldset {
    margin-bottom: 2em 0;
    padding: 1em 2em;
    border: 2px solid #63079c;
    border-radius: 12px;
    box-sizing: border-box;
    overflow: visible
    height:auto;
    min-width: 200px;
}

legend {
    font-size: 1.25em;
    padding: 0 10px;
    color: #b85bcf;
    font-weight: bold;
}

label {
    display: block;
    margin-top: 1em;
}

.checks label {
    margin-top: 0;
}

label:first-of-type {
    margin-top: 0;
}

/* Input, select, dan textarea */
input, select {
    padding: .5em;
    border: solid 1px #b774c9;
}
option{
    background-color:#c67dd7;
}

input[type="email"], input[type="text"], input[type="password"], select {
    width: 15em;
}

textarea {
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 1px #960cd1;
    box-sizing: border-box;
    color: #340042;
}

/* Radio buttons and checkboxes */
.checks {
    margin-bottom: 1em;
}

.checks p {
    margin-bottom: 0;
}

/* Submit Button */
input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #9009b1;
    color: #ecccf3;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    cursor: pointer;
}

/* Large screen rules */
@media screen and (min-width: 430px) {
    legend {
        font-size: 1.75em;
    }
    
    fieldset {
        width: 50%;
        margin: auto;
    }
    
    .checks label {
        display: inline-block; 
        padding-top: .5em;
        margin-top: 0;
        margin-right: .5em;
    }
}